/* BookFlipper.css */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Petemoss&display=swap");

.unique-main-class {
    display: flex;
    justify-content: center;
}

.unique-book-class {
    --book-height: 65vh;
    /* Adjust the height as needed */
    --book-ratio: 1.4;
}

.unique-book-class>div {
    height: var(--book-height);
    width: calc(var(--book-height) / var(--book-ratio));
    overflow: auto;
    background-color: #0a0a0a;
    transform: scale(0.9);
    border-radius: 6px;
    transform-origin: left;
}

.unique-book-cover-class {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9;
    text-align: center;
    background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, black 25%, transparent 25%),
        linear-gradient(45deg, black 25%, transparent 25%);
    background-size: 2em 2em;
    color: white;
    transition: transform 2s;
}

.unique-book-cover-class::before {
    content: "";
    position: absolute;
    width: 20px;
    right: 20px;
    top: 0;
    bottom: 0;
    background-color: #b11509;
}

.unique-h1-class {
    font-family: "Petemoss", cursive;
    font-size: 98px;
    font-weight: 300;
    color: #dbd75d;
}

.unique-h2-class {
    font-size: 16px;
}

.unique-separator-class {
    --separator-size: 8px;
    width: var(--separator-size);
    height: var(--separator-size);
    background-color: #dbd75d;
    margin: 50px auto 60px auto;
    border-radius: 50%;
    position: relative;
}

.unique-separator-class::after,
.unique-separator-class::before {
    content: "";
    position: absolute;
    width: 12px;
    background-color: white;
    height: 2px;
    top: calc(50% - 1px);
}

.unique-separator-class::after {
    left: 15px;
}

.unique-separator-class::before {
    right: 15px;
}

.unique-book-content-class {
    transform: scale(0.9) translateY(30px);
    background-color: white !important;
    transition: all 0.3s 1s;
}

.unique-book-content-class h3,
.unique-book-content-class p {
    opacity: 0;
    transition: all 0.3s 0.3s;
}

.unique-h3-class {
    padding: 30px;
}

.unique-p-class {
    padding: 0px 30px 10px 30px;
    /* width: 100%; */
    text-align: justify;
    font-size: 14px;
    overflow-x: hidden;
}

.unique-book-cover-class>div {
    transition: opacity 0s 0.6s;
}

.unique-book-class:hover>.unique-book-cover-class {
    transform: rotateY(180deg) scale(0.9);
}

.unique-book-class:hover>.unique-book-cover-class>div {
    opacity: 0;
}

.unique-book-class:hover>.unique-book-content-class {
    transform: scale(0.9) translateY(0px);
}

.unique-book-class:hover>.unique-book-content-class h3,
.unique-book-class:hover>.unique-book-content-class p {
    opacity: 1;
}