@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

@media (max-width: 655px) {
    #nav-parent {
        justify-content: center !important;
        padding: 1rem
    }

    #searchbar {
        margin-right: 0
    }

    #child-1 {
        margin-left: 0
    }

}



#liber {
    font-family: 'Coventry Garden', sans-serif;
    font-size: 2rem;
}

@media (max-width: 244px) {
    #child-1 {
        width: 100%
    }

    #liber {
        font-size: 1rem;
    }

}

.navlinks {
    font-family: 'Lato' !important;

}

.search-input {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #f3f3ec inset !important;
        font-family: 'Lato';
    }
}