@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

@media (max-width: 655px) {
    #nav-parent {
        justify-content: center !important;
        padding: 1rem
    }

    #searchbar {
        margin-right: 0
    }

    #child-1 {
        margin-left: 20px
    }
}



#liber {
    font-family: 'Coventry Garden', sans-serif;
    font-size: 2rem;
}

@media (max-width: 244px) {
    #child-1 {
        width: 100%
    }

    #liber {
        font-size: 1.4rem;
    }

}

.navlinks {
    font-family: 'Lato' !important;
    color: #8ebfb5;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    max-width: 900px !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
}
