/* home.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

.carousel-slide {
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.text-overlay h2 {
    font-size: 2rem;
}

.text-overlay p {
    font-size: 1.2rem;
}

/* Carousel dots styles */
.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 2;

}

.slick-dots li button {
    font-size: 20px;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    .text-overlay h2 {
        font-size: 1rem;
    }

    .text-overlay p {
        font-size: 1rem;
    }
}