/* home.css */

/* in carousel, margins for text wasn't uniform; found out default for h2 added noticeable margins that made it off-balanced, forcefully removed them, added margin bottom to distance head of carousel text from rest of text */
.text-title {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-bottom: 1em !important;
}

.carousel-slide {
    height: 275px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.text-overlay h2 {
    font-size: 1.3rem;
}

.text-overlay p {
    font-size: 1rem;
}

/* Carousel dots styles */
.slick-dots {
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.slick-dots li button {
    font-size: 20px;
}

/* dot color before its slide comes up */
.slick-dots li button:before {
    opacity: 0.50 !important;
    color: antiquewhite !important;
}

/* active slide dot */
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #a7faa1 !important;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
    .text-overlay h2 {
        font-size: 1rem;
    }

    .text-overlay p {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 250px) {
    .text-overlay h2 {
        font-size: 1rem;
    }

    .text-overlay p {
        font-size: .8rem;
    }
}