/* main color scheme: dark purple is #161520, limegreen is #a7faa1, and also "antiquewhite"*/
* {
    /* use outline for testing */
    /* outline: 1px solid red; */
    /* font-size: 1.2rem; */
    font-family: 'Lato';
    /* font-family: 'Montserrat'; */
   

}

body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(#201f2c, #161520, #000000); */
    background-color: #f3f3ec;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    color: black;
}

body::-webkit-scrollbar {
    width: .9rem;  
  }
  
  body::-webkit-scrollbar-track {
    background: #f3f3ec;
  }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(#8abbb1, #c0dbbd);
    border-radius: 10px;
  }

p {
    margin: 0;
     /* color: #ededdd; */
}

/* had to explicitly declare the coventry garden font to the browser, because otherwise, dummy dafari cant recognize it */
@font-face {
    font-family: 'Coventry Garden';
    src: url('../../coventry-garden.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.no-text-dec {
    text-decoration: none;
    color: #8abbb1;
}

/* for overriding the recommended text styling on chrome */
.input-override {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #f3f3ec inset !important;
        font-family: 'Lato';
    }
}

/* .div-img-cmnt-form */